<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpLoginServlet</servlet-name>
  	<display-name>EmpLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.EmpLoginServlet</servlet-class>
  </servlet> 
  
  <servlet>
  	<servlet-name>BillServlet</servlet-name>
  	<display-name>BillServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.BillServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ALoginServlet</servlet-name>
  	<display-name>ALoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.ALoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CLoginServlet</servlet-name>
  	<display-name>CLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.CLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerServlet</servlet-name>
  	<display-name>CustomerServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.CustomerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustViewServlet</servlet-name>
  	<display-name>CustViewServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.CustViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpViewServlet</servlet-name>
  	<display-name>EmpViewServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.EmpViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpolyeeServlet</servlet-name>
  	<display-name>EmpolyeeServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.EmpolyeeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EDeleteServlet</servlet-name>
  	<display-name>EDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.EDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CDeleteServlet</servlet-name>
  	<display-name>CDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.CDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EUpdateServlet</servlet-name>
  	<display-name>EUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.EUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CUpdateServlet</servlet-name>
  	<display-name>CUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.CUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EUpdServlet</servlet-name>
  	<display-name>EUpdServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.EUpdServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CUpdServlet</servlet-name>
  	<display-name>CUpdServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.CUpdServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LEmpServlet</servlet-name>
  	<display-name>LEmpServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.LEmpServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LCustServlet</servlet-name>
  	<display-name>LCustServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.LCustServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustLoginServlet</servlet-name>
  	<display-name>CustLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.CustLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewBillServlet</servlet-name>
  	<display-name>ViewBillServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.ViewBillServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewBillsServlet</servlet-name>
  	<display-name>ViewBillsServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.ViewBillServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewAllBillsServlet</servlet-name>
  	<display-name>ViewAllBillsServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.ViewAllBillsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BDeleteServlet</servlet-name>
  	<display-name>BDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.BDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VSpecBillServlet</servlet-name>
  	<display-name>VSpecBillServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.VSpecBillServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PaymentServlet</servlet-name>
  	<display-name>PaymentServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.PaymentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PaymentViewServlet</servlet-name>
  	<display-name>PaymentViewServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.PaymentViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EPaymentServlet</servlet-name>
  	<display-name>EPaymentServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.EPaymentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrintBillServlet</servlet-name>
  	<display-name>PrintBillServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.PrintBillServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustLogoutServlet</servlet-name>
  	<display-name>CustLogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.CustLogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpLogoutServlet</servlet-name>
  	<display-name>EmpLogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.EmpLogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ALogoutServlet</servlet-name>
  	<display-name>ALogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.ALogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpCustViewServlet</servlet-name>
  	<display-name>EmpCustViewServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.EmpCustViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UnitInsertServlet</servlet-name>
  	<display-name>UnitInsertServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.UnitInsertServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UnitViewServlet</servlet-name>
  	<display-name>UnitViewServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.UnitViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UUpdateServlet</servlet-name>
  	<display-name>UUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.UUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UUpdServlet</servlet-name>
  	<display-name>UUpdServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.UUpdServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CViewAllBillsServlet</servlet-name>
  	<display-name>CViewAllBillsServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.CViewAllBillsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EViewAllBillsServlet</servlet-name>
  	<display-name>EViewAllBillsServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.EViewAllBillsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EVSpecBillServlet</servlet-name>
  	<display-name>EVSpecBillServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.EVSpecBillServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EPaymentViewServlet</servlet-name>
  	<display-name>EPaymentViewServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.EPaymentViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>APaymentViewServlet</servlet-name>
  	<display-name>APaymentViewServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.APaymentViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>APaymentServlet</servlet-name>
  	<display-name>APaymentServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.APaymentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CPaymentViewServlet</servlet-name>
  	<display-name>CPaymentViewServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.CPaymentViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CVSpecBillServlet</servlet-name>
  	<display-name>CVSpecBillServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.CVSpecBillServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CsidRetriveServlet</servlet-name>
  	<display-name>CsidRetriveServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.CsidRetriveServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ECustServlet</servlet-name>
  	<display-name>ECustServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.ECustServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotServlet</servlet-name>
  	<display-name>ForgotServlet</display-name>
  	<description></description>
  	<servlet-class>com.ebms.controller.ForgotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpLoginServlet</servlet-name>
  	<url-pattern>/EmpLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BillServlet</servlet-name>
  	<url-pattern>/BillServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ALoginServlet</servlet-name>
  	<url-pattern>/ALoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CLoginServlet</servlet-name>
  	<url-pattern>/CLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerServlet</servlet-name>
  	<url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustViewServlet</servlet-name>
  	<url-pattern>/CustViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpViewServlet</servlet-name>
  	<url-pattern>/EmpViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpolyeeServlet</servlet-name>
  	<url-pattern>/EmpolyeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EDeleteServlet</servlet-name>
  	<url-pattern>/EDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CDeleteServlet</servlet-name>
  	<url-pattern>/CDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EUpdateServlet</servlet-name>
  	<url-pattern>/EUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CUpdateServlet</servlet-name>
  	<url-pattern>/CUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EUpdServlet</servlet-name>
  	<url-pattern>/EUpdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CUpdServlet</servlet-name>
  	<url-pattern>/CUpdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LEmpServlet</servlet-name>
  	<url-pattern>/LEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LCustServlet</servlet-name>
  	<url-pattern>/LCustServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustLoginServlet</servlet-name>
  	<url-pattern>/CustLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewBillServlet</servlet-name>
  	<url-pattern>/ViewBillServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewBillsServlet</servlet-name>
  	<url-pattern>/ViewBillsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAllBillsServlet</servlet-name>
  	<url-pattern>/ViewAllBillsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BDeleteServlet</servlet-name>
  	<url-pattern>/BDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VSpecBillServlet</servlet-name>
  	<url-pattern>/VSpecBillServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PaymentServlet</servlet-name>
  	<url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PaymentViewServlet</servlet-name>
  	<url-pattern>/PaymentViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EPaymentServlet</servlet-name>
  	<url-pattern>/EPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrintBillServlet</servlet-name>
  	<url-pattern>/PrintBillServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustLogoutServlet</servlet-name>
  	<url-pattern>/CustLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpLogoutServlet</servlet-name>
  	<url-pattern>/EmpLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ALogoutServlet</servlet-name>
  	<url-pattern>/ALogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpCustViewServlet</servlet-name>
  	<url-pattern>/EmpCustViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UnitInsertServlet</servlet-name>
  	<url-pattern>/UnitInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UnitViewServlet</servlet-name>
  	<url-pattern>/UnitViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UUpdateServlet</servlet-name>
  	<url-pattern>/UUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UUpdServlet</servlet-name>
  	<url-pattern>/UUpdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CViewAllBillsServlet</servlet-name>
  	<url-pattern>/CViewAllBillsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EViewAllBillsServlet</servlet-name>
  	<url-pattern>/EViewAllBillsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EVSpecBillServlet</servlet-name>
  	<url-pattern>/EVSpecBillServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EPaymentViewServlet</servlet-name>
  	<url-pattern>/EPaymentViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>APaymentViewServlet</servlet-name>
  	<url-pattern>/APaymentViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>APaymentServlet</servlet-name>
  	<url-pattern>/APaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CPaymentViewServlet</servlet-name>
  	<url-pattern>/CPaymentViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CVSpecBillServlet</servlet-name>
  	<url-pattern>/CVSpecBillServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CsidRetriveServlet</servlet-name>
  	<url-pattern>/CsidRetriveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ECustServlet</servlet-name>
  	<url-pattern>/ECustServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotServlet</servlet-name>
  	<url-pattern>/ForgotServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  <welcome-file>EBMS.html</welcome-file>
  </welcome-file-list>
</web-app>
